<!DOCTYPE html>
<html>
<head>
    <title>Commments</title>
</head>

<style> 
body {
    margin-top: 400px;
}
</style>
<body>
    <h1>Comments</h1>
    {% for comment in comments %}
        <p><b>{{ comment.author }}:</b> {{ comment.text }}</p>
    {% endfor %}

    <form method = "POST" action = "{% url 'comment' %}">
        {% csrf_token %}
        Author: <input id="author" type="text" name="author"> </br>
        Text: <input id ="text" type="text" name="text"> </br>
        <input id="submit" type="submit" name="submit" value="Submit">
    </form>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$("#submit").on("click", function(event) {
    event.preventDefault();
    var data = {
        "author": $("#author").val(),
        "text": $("#text").val()
    }

    $.post("/portal/comment", data, function(res) {
        console.log("In callback");
    })
    
});
</script>
</html>